 img{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }


.wrap {
  width: 980px;
  margin: 0 auto; }



/*
HOME
*/
.home {
  }
  .home .row.last {
    border-top: 0 none; }
  .home .row {
    border-top: 1px solid #e5e6e7;
    border-bottom: 1px solid #e5e6e7;
    height: 410px; }
    .home .row .box.last {
      border-right: 1px solid #e5e6e7; }
    .home .row .box {
      width: 300px;
      height: 380px;
      padding-left: 25px;
      float: left; }
      .home .row .box .product:hover {
        -webkit-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2);
        box-shadow: 1px 0px 10px rgba(0, 0, 0, 0.2); }
      .home .row .box .product {
        background: url("img/boxfull.png") no-repeat;
        width: 263px;
        height: 340px;
        position: relative;
        -webkit-transition-property: background;
        -moz-transition-property: background;
        -ms-transition-property: background;
        -o-transition-property: background;
        transition-property: background;
        -webkit-transition-duration: 2s;
        -moz-transition-duration: 2s;
        -ms-transition-duration: 2s;
        -o-transition-duration: 2s;
        transition-duration: 2s;
        -webkit-transition-delay: 2s;
        -moz-transition-delay: 2s;
        -ms-transition-delay: 2s;
        -o-transition-delay: 2s;
        transition-delay: 2s; }
        .home .row .box .product a img {
          margin-left: 1px;
          margin-top: 1px; }
        .home .row .box .product .description {
          font-family: 'AllerLightRegular';
          font-size: 16px;
          color: #39414d;
          font-style: italic;
          text-align: center;
          padding-top: 8px;
          text-shadow: 1px 1px 1px white; }
          .home .row .box .product .description strong {
            font-family: 'AllerRegular';
            font-style: normal; }
          .home .row .box .product .description a.price {
            font-family: 'Helvetica';
            font-size: 18px;
            color: #74bc0e;
            font-weight: bold;
            font-style: normal;
            text-decoration: none; }
        .home .row .box .product a.gift {
          background: url("img/calendrier.png") no-repeat;
          display: block;
          width: 17px;
          height: 17px;
          text-indent: -9898px;
          position: absolute;
          bottom: 14px;
          left: 15px; }
        .home .row .box .product .rating {
          position: absolute;
          bottom: 7px;
          left: 65px; }
          .home .row .box .product .rating span {
            font-family: 'Helvetica';
            font-size: 13px;
            color: #39414d;
            font-weight: 300;
            display: block;
            width: 48px;
            height: 20px;
            float: left; }
          .home .row .box .product .rating ul {
            float: left;
            display: block;
            width: 115px; }
            .home .row .box .product .rating ul li {
              float: left;
              margin-right: 2px; }
              .home .row .box .product .rating ul li a {
                background: url("img/rating.png") no-repeat;
                width: 15px;
                height: 15px;
                display: block;
                text-indent: -9898px;
                background-position: 0 0; }
              .home .row .box .product .rating ul li a:hover, .home .row .box .product .rating ul li a.off {
                background: url("img/rating.png") no-repeat;
                width: 15px;
                height: 15px;
                display: block;
                text-indent: -9898px;
                background-position: -15px 0; }
        .home .row .box .product .add {
          background: url("img/sprites.png") no-repeat;
          background-position: 0 0;
          width: 43px;
          height: 44px;
          display: block;
          text-indent: -9898px;
          position: absolute;
          bottom: 25px;
          right: -13px;
          -webkit-transition: opacity 0.2s ease-in; }
        .home .row .box .product .add:hover {
          background: url("img/sprites.png") no-repeat;
          background-position: 0 0;
          width: 43px;
          height: 44px;
          display: block;
          text-indent: -9898px;
          position: absolute;
          bottom: 25px;
          right: -13px;
          opacity: 0.7;
          -moz-opacity: 0.7;
          filter: alpha(opacity=7); }
        .home .row .box .product .valid {
          background: url("img/sprites.png") no-repeat;
          background-position: 0 -45px;
          width: 43px;
          height: 44px;
          display: block;
          text-indent: -9898px;
          position: absolute;
          bottom: 25px;
          right: -13px;
          -webkit-transition: opacity 0.2s ease-in; }
        .home .row .box .product .valid:hover {
          background: url("img/sprites.png") no-repeat;
          background-position: 0 -90px;
          width: 43px;
          height: 44px;
          display: block;
          text-indent: -9898px;
          position: absolute;
          bottom: 25px;
          right: -13px;
          opacity: 0.9;
          -moz-opacity: 0.9;
          filter: alpha(opacity=9); }


/*
CHECKOUT
*/
.checkout .proceed, .checkout input[type=submit] {
  border: none;
  background: url("img/proceed.png") no-repeat;
  background-position: 0 0;
  width: 177px;
  height: 47px;
  display: block;
  float: right;
  text-align: center;
  text-decoration: none;
  line-height: 47px;
  color: #FFF;
  font-family: 'AllerRegular';
  font-size: 16px;
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.4);
  margin-top: 15px; }
.checkout .proceed:hover, .checkout input[type=submit] {
  background-position: 0 -49px; }
.checkout .title {
  height: 80px;
  border-top: 1px solid #e5e6e7;
  border-bottom: 1px solid #e5e6e7; }
  .checkout .title h2 {
    height: 80px;
    line-height: 80px;
    font-family: 'AllerRegular';
    font-size: 30px;
    color: #323b49;
    width: 464px;
    float: left;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }
.checkout .table {
  margin-top:2px;
  background: #FFF;
  border-bottom: 1px solid #e5e6e7; }
  .checkout .table .rowtitle {
    height: 37px;
    line-height: 37px;
    border-bottom: 1px solid #e5e6e7;
    border-left: 1px solid #e5e6e7;
    padding-left: 140px;
    font-family: 'AllerBold';
    color: #323b49;
    font-size: 14px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }
    .checkout .table .rowtitle span {
      float: left; }
    .checkout .table .rowtitle span.name {
      width: 350px;
      display: block; }
    .checkout .table .rowtitle span.price {
      width: 165px;
      display: block; }
    .checkout .table .rowtitle span.quantity {
      width: 95px;
      display: block; }
    .checkout .table .rowtitle span.subtotal {
      width: 150px;
      display: block; }
    .checkout .table .rowtitle span.action {
      width: 79px;
      display: block;
      border-right: 1px solid #e5e6e7;
      border-left: 1px solid #e5e6e7;
      text-align: center; }
  .checkout .table .row1.grey {
    background: #fcfcfc; }
  .checkout .table .row1 {
    overflow: hidden;
    background: #FFF;
    height: 81px;
    line-height: 81px;
    border-bottom: 1px solid #e5e6e7;
    border-left: 1px solid #e5e6e7; }
    .checkout .table .row1 a.img {
      width: 168px;
      margin-top: 15px;
      display: block;
      float: left;
      text-align: center; }
    .checkout .table .row1 span {
      float: left;
      font-family: 'AllerRegular';
      font-size: 12px;
      color: #78c04f;
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8); }
    .checkout .table .row1 span.name {
      width: 340px;
      display: block; }
    .checkout .table .row1 span.price {
      width: 130px;
      display: block; }
    .checkout .table .row1 span.quantity {
      width: 57px;
      display: block;
      text-align: center;
      margin-left: 20px;
      padding-right: 73px; 
   /*   padding-top: 25px;*/
    }
      .checkout .table .row1 span.quantity input {
      /*  height: 33px;*/
        width: 30px;
        border: 1px solid #c3c3c3;
        background: #f9f9f9; }
    .checkout .table .row1 span.subtotal {
      width: 130px;
      margin-left: 39px;
      display: block; }
    .checkout .table .row1 span.action {
      width: 79px;
      display: block;
      border-right: 1px solid #e5e6e7;
      border-left: 1px solid #e5e6e7;
      text-align: center; }
  .checkout .table .rowtotal {
    height: 57px;
    line-height: 57px;
    border-right: 1px solid #e5e6e7;
    border-left: 1px solid #e5e6e7;
    font-family: 'AllerLightRegular';
    color: #323b49;
    font-size: 16px;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
    padding-left: 796px; }
    .checkout .table .rowtotal .total {
      text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.8);
      font-family: 'AllerBold';
      color: #323b49;
      font-size: 16px; }

